img{
  width:100%;
  max-height:200px;
}

.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}

.div-table{
  display:table; 
  width:100%;
  font-size: 14px;               
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:100%;
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;                  
  background-color:#fff; 
  padding: 2px; 
}

.div-table-header-row {
background-color:#ccc;	
}
.col1 {
	width: 55%;
}

.col2 {
	width: 15%;
}
.col3 {
	width: 15%;
}
.col4 {
	width: 15%;
}

.btn-gold {
  color: #FFFFFF;
  background-color: #FFD700;
  border: 1px solid #FFD700;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-red {
  color: #FFFFFF;
  background-color: #FF0000;
  border: 1px solid #FF0000;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-blue {
  color: #FFFFFF;
  background-color: #0000FF;
  border: 1px solid #0000FF;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-black {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-white {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-action {
  color: #000000;
  background-color: #888888;
  border: 1px solid #000000;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}