.title-image {
  margin: 0;
  background: url('../archers.jpg') 100% 0;
  background-size: cover;
  height: 40%;
}

.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}

.div-table{
  display:table;
  width:100%;
  font-size: 14px;
  background-color:#eee;
  border:1px solid  #666666;
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:100%;
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  background-color:#fff;
  padding: 2px;
}

.div-table-header-row {
background-color:#ccc;
}
.col1 {
	width: 55%;
}

.col2 {
	width: 15%;
}
.col3 {
	width: 15%;
}
.col4 {
	width: 15%;
}

.btn {
  font-size: 24px;
  padding: 10px 30px;
}

.btn-gold {
  color: #FFFFFF;
  background-color: #FFD700;
  border: 1px solid #FFD700;
}

.btn-red {
  color: #FFFFFF;
  background-color: #FF0000;
  border: 1px solid #FF0000;
}

.btn-blue {
  color: #FFFFFF;
  background-color: #0000FF;
  border: 1px solid #0000FF;
}

.btn-black {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #000000;
}

.btn-white {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.btn-action {
  color: #000000;
  background-color: #888888;
  border: 1px solid #000000;
  font-size: 20px;
  padding: 8px 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-group {
  display: flex;
  margin: 5px 0;
}

.button-container button {
  margin: 5px;
}

.button-group button {
  margin: 0 5px;
}
